body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: #fff;
    margin: 0;
}

h2 {
    color: #222;
    font-size: 40px;
}

h3 {
    color: #222;
    font-size: 25px;
}

p {
    color: #222;
}

.donate-top-container {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.donate-text-container {
    padding: 240px 240px 20px 240px;
}

.donate-text-container p {
    color: #fff;
}

.link-button {
    text-decoration: none;
    padding: 15px 40px;
    color: #fff;
    background-image: linear-gradient(orange, tomato);
    ;
    font-size: 20px;
    border-radius: 10px;
}

.donate-today {
    text-align: center;
    padding: 100px 260px 0px 260px;

}

.donate-amount-container {
    display: flex;
}

.half-width {
    width: 50%;
    background-color: rgb(233, 233, 233);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#donate-highlight {
    border: 3px solid tomato;
    background-color: rgba(255, 99, 71, 0.233);
}

#donate-highlight h3 {
    color: tomato;
}

.amount-field-container {
    padding: 40px 0;
}

.amount-field {
    padding: 10px 100px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #8f8f8f;
    outline: 0;
    width: 80%;
    text-align: center;
    font-size: 18px;

}

.donate-plan-text-container {
    text-align: center;
    padding: 100px 250px 0px 250px;
}

.donate-plan-items {
    display: flex;
    padding: 0px 80px;
}

#food {
    background-color: #EDF5F6;
}

#shelter {
    background-color: #FFEEEE;
}

#education {
    background-color: #FFF4D6;
}

.become-a-volunteer {
    padding: 0px 100px 0px 100px;
    margin-top: 100px;
    background-color: rgb(207, 207, 207);
}

.volunteer-container {
    display: flex;
    border-radius: 10px;

}

.volunteer-container .half-width {
    background-color: rgba(255, 255, 255, 0);
}

.volunteer-container,
.button-container {
    margin-top: 50px;
}

.volunteer-container h2 {
    padding-top: 50px;
}

.person-container {
    padding-top: 100px;
}

.person-container h2 {
    text-align: center;
}

.person-list {
    display: flex;
}

.person-list img {
    border-radius: 10px;
}

.update-form {
    text-align: center;
    margin: 100px;
    background-color: rgba(255, 99, 71, 0.329);
    padding: 50px 100px 100px 100px;
    border-radius: 10px;
}

.update-form-name,
.update-form-submit {
    padding: 10px 100px;
    background-color: #f8f8f8;
    border: none;
    outline: none;
    border-radius: 10px;
}

.update-form-submit {
    background-image: linear-gradient(orange, tomato);
}

.footer-container {
    text-align: center;
    background-color: #222;
    padding: 50px;
    color: #fff;
}

.footer-container h2 {
    color: tomato;
}